@page
@model StudentIncidents1.Pages.StudentIncidents.IndexModel

@{
    ViewData["Title"] = "Student Incidents";
}

<h1>Student Incidents</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentIncident[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentIncident[0].Incident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentIncident[0].IncidentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentIncident[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StudentIncident) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Incident.IncidentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
