@page
@model StudentIncidents1.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentLastName)
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StudentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
